<!-- I have combined the favorites.ejs and todos.ejs files from Glitch, as I think we'll be wanting pieces from both. Here is favorites:-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>User's Game List</h1>

  <!-- Board Games -->
    <section id="boardGameSection">
      <h2>Board Games</h2>
        <ul>
        <% faves.forEach( el => { %> 
        <% if(el.boardGame) {%> 
          <li class='faveGameItem' data-id='<%=el._id%>'>
            <span class="boardGame"><%= el.Game %> </span>
            <span class='del'> Delete </span>
          </li>
          <% } %> 
        <% }) %>    
        </ul>
    </section>

<!-- Section for vidya -->

<section id="videoGameSection">
      <h2>Video Games</h2>
        <ul>
        <% faves.forEach( el => { %> 
        <% if(el.videoGame) {%> 
          <li class='faveGameItem' data-id='<%=el._id%>'>
            <span class="videoGame"><%= el.Game %> </span>
            <span class='del'> Delete </span>
          </li>
          <% } %> 
        <% }) %>    
        </ul>
    </section>

<!-- Section for card games-->
    
<section id="cardGameSection">
      <h2>Card Games</h2>
        <ul>
        <% faves.forEach( el => { %> 
        <% if(el.cardGame) {%> 
          <li class='faveGameItem' data-id='<%=el._id%>'>
            <span class="cardGame"><%= el.Game %> </span>
            <span class='del'> Delete </span>
          </li>
          <% } %> 
        <% }) %>    
        </ul>
    </section>



    <form action="/favorites/createFave" method='POST'>
        <input type="text" placeholder="What games do you like?" name='faveGameItem'>
        </br/>
        <input type="checkbox" name="boardGame" class='faveGameItem' id="boardGame"><label for="boardGame">Board Game</label>
        <input type="checkbox" name="videoGame" class='faveGameItem' id="videoGame"><label for="videoGame">Video Game</label>
        <input type="checkbox" name="cardGame" class='faveGameItem' id="cardGame"><label for="cardGame">Card Game</label>
        <input type="submit">
    </form>



  <a href="/logout">Logout</a>
  <a href="/favorites">Favorite Games</a>
    <script src="js/main.js"></script>
</body>
</html>
